<%= stylesheet_link_tag "groups" %> 

<div class="plans">	   
<ul> 	
<div class="box">
  <div class="boxcontent">
    <h2>Barack Obama and Joe Biden's Campaign Promise:</h2>
    <li>
    <div class="text">
    	<h1><%= current_object.name %></h1>
	</div>
    <div id="star-ratings-block-<%= current_object.class.to_s %>-<%= current_object.id %>" class="star-ratings-block">
		<%= render :partial => 'ratings/rate', :locals => {:asset => current_object} %>
	</div>
	 <br class="clear" />
	</li>
  </div>
</div>
</ul>
</div> 

<div class="plans">	
    	<ul>
    	  <% current_object.issue_sections.each do |section| %>
    	    <div class="box">	
    	    <div class="boxcontent">
    		<li>
    		<% if section.name != ""%>
			<div class="text">
      		  <h3><%= section.name %></h3>
      		</div>
      		<div id="star-ratings-block-<%= section.class.to_s %>-<%= section.id %>" class="star-ratings-block">
		 		<%= render :partial => 'ratings/rate', :locals => {:asset => section} %>
			</div>
			<% end %>
      		<br class="clear" />
      		<ul class="bullets-list">
      		  <% section.issue_bullets.each do |bullet| %>
      			<li>
      				<div class="text">
		 				<% promote_div_id = "promote-#{bullet.class}-#{bullet.id}" %>
          				<div id="<%= promote_div_id %>">
            			<%= render :partial => "/promotions/promote", :locals => {:item => bullet, :update_div => promote_div_id} %>
          				</div>
      					<%= link_to bullet.name, "#{bullet.issue_section.issue_group.permalink}/#{bullet.permalink}" %>
      				</div>
      				<div id="star-ratings-block-<%= bullet.class.to_s %>-<%= bullet.id %>" class="star-ratings-block">
		 				<%= render :partial => 'ratings/rate', :locals => {:asset => bullet} %>
		 			</div>
      				<br class="clear" />
      			</li>
              <% end %>
      		</ul>
    		</li>
    		</div>
    		</div>
          <% end %>
    	</ul>
    	<br class="clear"/>
 </div>