<%= stylesheet_link_tag "groups" %> 
	    	
<div class="box">
  <div class="boxcontent">
    <h2>Barack Obama and Joe Biden's Campaign Promise:</h2><h1><%= current_object.name %></h1>
  </div>
</div>
  <div class="plans">	
    	<ul>
    	  <% current_object.issue_sections.each do |section| %>
    	    <div class="box">	
    	    <div class="boxcontent">
    		<li><h3><%= section.name %></h3>
      		<ul class="bullets-list">
      		  <% section.issue_bullets.each do |bullet| %>
      			<li>
      				<div class="text">
      					<%= link_to bullet.name, "#{bullet.issue_section.issue_group.permalink}/#{bullet.permalink}" %>
      				</div>
      				<div id="star-ratings-block-<%= bullet.class.to_s %>-<%= bullet.id %>" class="star-ratings-block">
		 				<%= render :partial => 'ratings/rate', :locals => {:asset => bullet} %>
		 			</div>
      				<br class="clear" />
      			</li>
              <% end %>
      		</ul>
    		</li>
    		</div>
    		</div>
          <% end %>
    	</ul>
    	<br class="clear"/>
 </div>