<%= stylesheet_link_tag "signup" %>
<div class="box">
<div class="boxcontent">
<%= title "Log In.", :h1 %>  
<div class="form-container">
<% form_tag session_path do %>
	<fieldset>
		<table>
			<tr>
				<td><%= label_tag 'login', 'Username' %></td>
				<td><%= text_field_tag 'login', @login %></td>
			</tr>
			<tr>
				<td><%= label_tag 'password' %></td>
				<td><%= password_field_tag 'password', nil %></td>
			</tr>
			<tr>
				<td><%= label_tag 'remember_me', 'Remember me ' %></td>
				<td><%= check_box_tag 'remember_me', '1', @remember_me %></td>
			</tr>
		</table>

	</fieldset>
			<br>
			<h2>Or Login with OpenID</h2>
	<fieldset>
		<table>
		<tr>
			<td><img align="middle" padding-top="15px" src="/images/openid.png"/><%= label_tag 'openid_url', 'OpenID URL: ' %></td>
			<td><%= text_field_tag 'openid_url' %></td>
		</tr>
		</table>
	</fieldset>
	<br>
	<div class="buttonrow">
		<%= submit_tag 'Login', :class => 'button' %>
		<br>
		<%= link_to 'Forget Password?', forgot_password_path %>
	</div>
	<br>
	<br>
	<br>
	<br>
	
<% end -%>
</div>
</div>
</div>