<%= title "Login", :h2 %>

<div class="form-container">
<% form_tag session_path do %>
	<fieldset>
		<legend>Your Details</legend>
		<ul>
			<li>
				<%= label_tag 'login', 'Username' %>
				<%= text_field_tag 'login', @login %>
			</li>
			<li>
				<%= label_tag 'password' %>
				<%= password_field_tag 'password', nil %>
			</li>
			<li>
				<%= label_tag 'remember_me', 'Remember me' %>
				<%= check_box_tag 'remember_me', '1', @remember_me %>
			</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Login with OpenID</legend>
		<ul>
			<li>
				<%= label_tag 'openid_url', 'OpenID URL' %>
				<%= text_field_tag 'openid_url' %>
			</li>
		</ul>
	</fieldset>
	<div class="buttonrow">
		<%= submit_tag 'Login' %>
		<%= link_to 'Forgotten Password', forgot_password_path %>
	</div>
<% end -%>
</div>
