<% if current_user %>

  <% if current_user.has_invitations? %>
    <%= link_to "Send an invitation", new_invitation_path %>
    (You have <%= current_user.invitation_limit %> left)
  &nbsp;  | &nbsp;
  <% end %>
  Welcome,
  <%= current_user.login %>
  &nbsp;  | &nbsp;  
  <%= link_to "Logout", logout_url %>

<% else %>
  <div id="login-again" style="display:none">
    <% if @login %>
      <%= link_to "Forgot your password?", forgot_password_url %> or
    <% end %>
    <a href='/login' id="login-again-link">Try again</a>.
  </div>
  <div id="login-links">
<li><a href="http://twitter.com/tabsonrahm"><img style="opacity: 0.8; -moz-opacity: 0.8; padding-top:12px" title="Follow Us on Twitter" alt="Follow Us on Twitter" src="http://chicagohealthtech.org/wp-content/plugins/social-media-widget/images/default/32/twitter.png"></a></li>  
  	<li><a title="SignUp" href="/signup"> Sign Up</li>
  	<li><a title="Login" href="/login" id="login-link">Login</a></li>
  </div>
  <div id="login-form" style="display:none">
    <div id="direct-login" vertical-align="middle">
    <% form_remote_tag :url => session_url,:update => "user" do %>
      <input type="text" name="login" value="login" id="login" size="12" />
      <input type="password" name="password" value="password" id="password" size="12" />
      <input type="submit" name="submit" value="Login" />
      <input type="button" name="cancel" value="cancel" id="cancel-button-direct">
      <!--a href='' id="switch-login-openid">Use OpenID?</a-->
      <!--img align="middle" padding-top="15px" src="/images/openid.png"/-->
    <% end %>
    </div>
    <div id="openid-login" style="display:none">
      <% form_tag session_url do %>
        <%= text_field_tag :openid_url %>
        <input type="submit" name="submit" value="Login with OpenID" />
        <input type="button" name="cancel" value="cancel" id="cancel-button-openid">
        <a href='/login' id="switch-login-direct">Use password?</a>
      <% end %>
    </div>
  </div>
<% end %>
<%= javascript_tag "$(document).ready(function() {setupLognNav()});" %>
<% if flash[:error] %>
  <%= javascript_tag "$(document).ready(function() {showLoginAgain()});"%>
<% end %>