<div style="display:none" id="userLogin">

<div class="login">
	<div style="width: 400px; text-align: right; cursor: pointer;">
	<a onclick="tb_remove();"> Close</a>
	</div>  
	
	<% if current_user %>
	<div id="logged_in_dialog" class="login_dialog">
		<h1>Login Successful!</h1>
		Thanks for logging in.  You are logged in as <%= current_user.login %>.
	</div>
	<% else %>
	<div id="login_failure" style="display: none;">Unable to log you in as <strong><%= @login %></strong>.</div>
	<div id="login_dialog" class="login_dialog">
		<h1>Sign In or <a title="SignUp" href="/signup" onclick="tb_remove(); setTimeout('tb_show(\'Dialog\', \'#TB_inline?height=600&width=400&inlineId=userSignup&modal=true\', null)',500); return false;"> Sign Up</a></h1>
		<div id="user_name_login" style="display: block;">
		<% form_remote_tag :url => session_url,:update => "pop_login" do %>
			<h2>Username</h2>
			<input name="login" id="login" type="text" />
			<h2>Password</h2>
			<input name="password" id="password" type="password" /><br />
			<label><input type="checkbox" name="remember_me" class="auto" /> Remember me on this computer</label><br />
			<input type="submit" name="submit" value="Sign in" class="button" />
		<% end %>
			
			<div class="extras">
				<ul>
					<li><%= image_tag('openid.jpg', :alt => 'openID' ) %></li>
					<li><a href="#" onclick="toggleLogins(); return false;">Use OpenID</a></li>
					<li><a href="/forgot_password" onclick="tb_remove(); setTimeout('tb_show(\'Dialog\', \'#TB_inline?height=150&width=300&inlineId=userForgot&modal=true\', null)',500); return false;">Forget your username and password?</a></li>
				</ul>
			</div>
		</div>
	  
		<div id="open_id_login" style="display: none;">
		<% form_tag session_url do %>
			<%= image_tag('openid.jpg', :alt => 'openID' ) %>
			<h2>Open ID URL</h2>
			<%= text_field_tag :openid_url %>
			<input type="submit" name="submit" value="Login with OpenID" />
		<% end %>
		
			<div class="extras">
				<ul>
					<li><strong>Help:</strong> <a href="/amnesia/trouble_with_openid">My OpenID isn't working and I can't log in</a></li>
					<li><a href="#" onclick="toggleLogins(); return false;">Login using a standard username/password</a></li>
				</ul>
			</div>
		</div>
	</div>
	<% end %>
</div>
<% if flash[:error] %>
  <%= javascript_tag "$(document).ready(function() {toggleFailure()});"%>
<% end %>

</div>