<div style="display:none" id="userSignup">

<div class="signup">
	<div style="width: 400px; text-align: right; cursor: pointer;">
	<a onclick="tb_remove();"> Close</a>
	</div>  
	
	<% @user.password = @user.password_confirmation = nil %>
  <% remote_form_for @user, :update => "pop_signup" do |f| %>
	  <div id="user_signup">
		<h1>Sign Up.</h1>
		<br />
		<ul>
      <% fields_for "user[new_profile_attributes]", @profile do |profile_form| %>
			<li>
				<div>
					<label for="firstname">First Name</label><br />
          <%= profile_form.text_field :first_name, :id => 'firstname', :name => 'firstname' %>
				</div>
			</li>
			<li>
				<div>
					<label for="lastname">Last Name</label><br />
          <%= profile_form.text_field :last_name, :id => 'lastname', :name => 'lastname' %>
				</div>
			</li>
			<li>
				<div>
					<label for="zip">Zipcode</label><br />
          <%= profile_form.text_field :zip, :id => 'zip', :name => 'zip' %>
				</div>
			</li>
			<li>
				<div>
					<label for="country_code">Country of Citizenship</label><br />
          <%= render :partial => "users/country_select" %>
        </div>
      </li>
			<li>
				<div>
					<label for="affiliation_id" class="affiliation">What is your political affiliation?</label><br />
          <%= profile_form.collection_select(:affiliation_id, Affiliation.all, :id, :name) %>
				</div>
			</li>
			<% end %>
			<li>
				<div>
					<label for="login">Username</label><br />
          <%= f.text_field :login, :name => 'login', :id => 'login' %>
				</div>
			</li>
			<li>
				<div>
					<label for="email">Email</label><br />
          <%= f.text_field :email, :id => 'email', :name => "email" %>
				</div>
			</li>
			<li>
				<div>
					<label for="pass">Desired Password:</label><br />
          <%= f.password_field :password, :id => 'pass', :name => 'password' %>
				</div>
			</li>
			<li>
				<div>
					<label for="password">Re-enter Password:</label><br />
          <%= f.password_field :password_confirmation, :id => 'password' %>
				</div>
			</li>
			<li>
				<div class="recaptcha">
					<div id="reCAPTCHA"> 
					  <%= get_captcha() %>
					</div>
				</div>
			</li>
			<li>
				<div class="openidurl">
					<!-- OpenID signup styled? -->
					<h3>Signup with OpenID</h3>
					<label for="openid_url">OpenID URL:</label><br />
          <%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
					<!-- end OpenID section -->
				</div>
			</li>
			<li>
				<div class="submitbutton">
					<%= submit_tag 'Sign Up', :class => 'button' %>
				</div>
			</li>
		</ul>
	  	  
	  </div>
	<% end %>
</div>
<script type="text/javascript">	
	setTimeout('Recaptcha.create("6LfRqgQAAAAAALWpxhD_Qt13QBD_pPFyISEzTnhu","reCAPTCHA", {theme: "white"})',5); 
</script>