<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script> 
<%= stylesheet_link_tag "signup" %>

<% @user.password = @user.password_confirmation = nil %>
<div class="box">
<div class="boxcontent">
	  <h4>Click the strip to rank. It's simple.</h4>
  <%= render :partial => 'ratings/rate_guide', :locals => {:align => 'left'} %>	
  <hr>
<% form_for @user do |f| %>
  <div class="user_name_login">
    <h4><%= f.error_messages %></h4>
    <%= title "Sign Up", :h1 %>  
    <table>
    <% fields_for "user[new_profile_attributes]", @profile do |profile_form| %>
      <tr><td>First Name</td> 			 	<td><%= profile_form.text_field :first_name, :id => 'firstname' %></td></tr>
      <tr><td>Last Name</td> 				<td><%= profile_form.text_field :last_name, :id => 'lastname' %></td></tr>
      <tr><td>Zip/Postal Code</td> 			<td><%= profile_form.text_field :zip, :id => 'zip' %></td></tr>
      <tr><td>Country of Citizenship</td> 	<td><%= render :partial => "country_select" %></td></tr>
      <tr><td>Political Affiliation</td> 	<td><%= profile_form.collection_select(:affiliation_id, Affiliation.all, :id, :name) %></td></tr>
    <% end %>
    
    <tr><td>Username</td> 	      			<td><%= f.text_field :login %></td></tr>
    <tr><td>Email</td> 		  	 			<td><%= f.text_field :email, :id => 'email' %></td></tr>
    <tr><td>Desired Password</td>        	<td><%= f.password_field :password, :id => 'pass' %></td></tr>
	<tr><td>Confirm Password</td> 			<td><%= f.password_field :password_confirmation, :id => 'password' %></td></tr>
    						<%= f.hidden_field :invitation_token %>
	</table>
	 <%= get_captcha(:options => {:theme => 'white'}) %>
  
    <p>
     <img align="middle" src="/images/openid.png"/>
      Or sign up with OpenID URL:     					
      <%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
    </p>
  
    <%= submit_tag 'Sign Up', :class => 'button' %>

  </div>
  <br>

<% end %>
</div>
</div>


