<% @user.password = @user.password_confirmation = nil %>
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <div id="user_name_login">
    <%= title "Sign Up.", :h1 %>
    <% fields_for "user[new_profile_attributes]", @profile do |profile_form| %>
      <%= title "First Name", :h2 %>
      <%= profile_form.text_field :first_name, :id => 'firstname' %>
      <%= title "Last Name", :h2 %>
      <%= profile_form.text_field :last_name, :id => 'lastname' %>
      <%= title "Zipcode", :h2 %>
      <%= profile_form.text_field :zip, :id => 'zip' %>
      <%= title "What is your political affiliation?", :p %>
      <%= profile_form.collection_select(:affiliation_id, Affiliation.all, :id, :name) %>
    <% end %>
  </div>
  <%= title "Username", :h2 %>
  <%= f.text_field :login %>
  <%= title "Email", :h2 %>
  <%= f.text_field :email, :id => 'email' %>
  <%= title "Desired Password:", :h2 %>
  <%= f.password_field :password, :id => 'pass' %>
  <%= title "Re-enter Password:", :h2 %>
  <%= f.password_field :password_confirmation, :id => 'password' %>
  <%= get_captcha() %>
  
  <!-- OpenID signup styled? -->
  <p>Signup with OpenID</p>
  <p>
    OpenID URL:
    <%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
  </p>
  <!-- end OpenID section -->
  
  <p></p>
  <p></p>
  <% fields_for "user[new_profile_attributes]", @profile do |profile_form| %>
    <p></p>
    <%= title "What is your political affiliation?", :p %>
    <%= profile_form.collection_select(:affiliation_id, Affiliation.all, :id, :name) %>
  <% end %>
  <p></p>
  <%= submit_tag 'Sign up', :class => 'button' %>
<% end %>