<%= stylesheet_link_tag "cabinet" %>

<% if @cabinet_members.blank? %>
<p>No cabinet members.</p>
<% else %>

<!-- cabinet -->
<div class="box">
 	<h1>Cabinet Members</h1>
 	<hr />

<div id="cabinetlist">
<ul class="mainlist">

<% @cabinet_members.each do |c| %>

<li class="mainlist">				
<div class="phototitlerate">
	<div class="cabinetphoto">						
		<img alt="<%=c.nominee%>" src="<%=c.image_link%>" width="75px" />
		<h5><%= link_to c.nominee, cabinet_member_url(c) %><h5>
	</div>
	<div class="titlerate">
	</div>
	<h3><%=c.office%></h3>
	<h4><%= c.department %></h4>
	<br>	
	<div id="star-ratings-block-<%= c.class.to_s %>-<%= c.id %>" class="star-ratings-block">
		<%= render :partial => 'ratings/rate', :locals => {:asset => c, :align => "left"} %>
	</div>
</div>
<br class="clear" />
<br class="clear"/>
</li>
<% end %>
</ul>
</div>
<br class="clear" />
<br class="clear"/>
</div>
<% end %>