
<div class="box">
 	<div class="boxcontent">
 	    <h2>Rate</h2>
 	    
 		<div class="featured">
 			<h3><%= link_to "Cabinet Members", "/cabinet-members", { :title => "Show All Cabinet Members"} %></h3>
			
			<div id="star-ratings-block-<%= Aggregate.class_name %>-<%= CabinetMember.class_name %>" class="star-ratings-block">
				<%= render :partial => 'ratings/rate', :locals => {:asset => Aggregate.find(:first, :conditions => ['rateable_type = ?', CabinetMember.class_name])} %>
			</div>
			
 			<br class="clear" />
 		</div>
 		
 		<div class="featured more">
 			<div class="meta">
	 			<h3>Featured Cabinet Member</h3>
 				<% cabinet_member = CabinetMember.featured %>
 				<h4><%= cabinet_member.nominee %></h4>
 				<div id="star-ratings-block-<%= cabinet_member.class.to_s %>-<%= cabinet_member.id %>" class="star-ratings-block">
					<%= render :partial => 'ratings/rate', :locals => {:asset => cabinet_member, :align => 'left'} %>
				</div>
	 		</div>
	 		<div class="photo">
	 			<img alt="<%= cabinet_member.nominee %>" src="<%= cabinet_member.image_link %>" />
	 		</div>
 			<br class="clear" />
 		</div>
 		
 		<br class="clear" />
 	</div>
</div>