
<div class="box">
 	<div class="boxcontent">
 	<h2>Rate</h2>
 		<h3><%= link_to "Campaign Promises", { :controller => "campaign_promises", :action => "index" } , { :title => "Show All Campaign Promises"} %></h3> 	
 		
 		<ul class="issues">
 			<% IssueGroup.find(:all).each do |issue_group| %>
				<li>
					<h3>
					<%= link_to issue_group.name, :controller => "issue_groups", :action => "show", :id => issue_group.permalink %>
					</h3>
					<div id="star-ratings-block-<%=issue_group.class.to_s%>-<%= issue_group.id %>" class="star-ratings-block">
		 				<%= render :partial => 'ratings/rate', :locals => {:asset => issue_group} %>
		 			</div>
				</li>
			<% end %>
 		</ul>
 		
 		<!-- featured campaign promises -->
 		<div class="moreissues">
 			<h3>Featured Campaign Promises</h3>
 			<ul id="featured">
 				<li>
 					Economy
 					<ul class="issue">
 						<li>
 							Provide a Tax Cut for Working Families
 							<blockquote>
 								<p>&quot;Obama and Biden will restore  fairness to the tax code and provide 150 million workers the tax relief they need...&quot; <a href="#">continued...</a></p>
 							</blockquote>
			 				<div class="rating">
				 				<ul>
									<li><a href="#" title="1 out of 5" class="one-star">1</a></li>
									<li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
									<li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
									<li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
									<li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
								</ul>
				 				<span class="votes">18,294 votes</span>
			 				</div>
				 			<br class="clear" />
 						</li>
 					</ul>
 				</li>
 				<li>
 					Immigration
 					<ul class="issue">
 						<li>
 							Create Secure Borders
	 						<blockquote>
 								<p>&quot;Obama and Biden want to preserve the integrity of our borders...&quot; <a href="#">continued...</a></p>
 							</blockquote>
			 				<div class="rating">
				 				<ul>
									<li><a href="#" title="1 out of 5" class="one-star">1</a></li>
									<li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
									<li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
									<li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
									<li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
								</ul>
				 				<span class="votes">18,294 votes</span>
			 				</div>
				 			<br class="clear" />
							</li>
 					</ul>
 				</li>
 				<li>
 					Civil Rights
 					<ul class="issue">
 						<li>
 							End Racial Profiling
		 					<blockquote>
 								<p>&quot;Obama and Biden will enact federal law to stem racial profiling...&quot; <a href="#">continued...</a></p>
 							</blockquote>
			 				<div class="rating">
				 				<ul>
									<li><a href="#" title="1 out of 5" class="one-star">1</a></li>
									<li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
									<li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
									<li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
									<li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
								</ul>
				 				<span class="votes">18,294 votes</span>
			 				</div>
				 			<br class="clear" />
 						</li>
 					</ul>
 				</li>
 			</ul>
 		</div>
 		
 		<br class="clear" />
 	</div>
</div>