
<div class="box">
 	<div class="boxcontent">
 	<h2>Rate</h2>
 		<h3><%= link_to "Campaign Promises", "/campaign-promises" , { :title => "Show All Campaign Promises"} %></h3> 	
 		<div class="normal-text"> 
 		Click each promise for subtopics
 		</div>

 		<ul class="issues">
 			<% IssueGroup.find(:all).each do |issue_group| %>
				<li>
					<h3><%= link_to issue_group.name, "/campaign-promises/#{issue_group.permalink}" %></h3>
					<div id="star-ratings-block-<%=issue_group.class.to_s%>-<%= issue_group.id %>" class="star-ratings-block">
		 				<%= render :partial => 'ratings/rate', :locals => {:asset => issue_group} %>
		 			</div>
				</li>
			<% end %>
 		</ul>
 		
 		<!-- featured campaign promises -->
 		<div class="moreissues">
 			<%
				featured_bullets = IssueBullet.featured
			%>
 			<h3>Featured Campaign Promises</h3>
 			<% if !featured_bullets.nil? %>
 			<ul id="featured">
 			  <% featured_bullets.each do |featured| %>
   				<li>
   				  <% promote_div_id = "promote-#{featured.class}-#{featured.id}" %>
          		  <div id="<%= promote_div_id %>">
            	    <%= render :partial => "/promotions/promote", :locals => {:item => featured, :update_div => promote_div_id} %>
          		  </div>
   				  <%= link_to "#{featured.issue_group.name}: #{featured.name}", "/campaign-promises/#{featured.issue_section.issue_group.permalink}/#{featured.permalink}" %>
   					<ul class="issue">
   						<li>
   							<blockquote>
   						    <p>&quot;<%= link_to truncate(h(featured.description), :length => 80), "/campaign-promises/#{featured.issue_section.issue_group.permalink}/#{featured.permalink}" %>&quot;</p>													    
   							</blockquote>
  			 				<div id="star-ratings-block-<%= featured.class.to_s %>-<%= featured.id %>" class="star-ratings-block">  			 				
  				 				<%= render :partial => 'ratings/rate', :locals => {:asset => featured} %>
  				 			</div>
  				 			<br>
  				 			<!--br class="clear" /-->
   						</li>
   					</ul>
   				</li>
   			  <% end %>
   			<% end %>
 			</ul>
 		</div>
 		
 		<br class="clear" />
 	</div>
</div>