<div class="box">
 	<div class="boxcontent">
 	    <h2>Rate</h2>
 		<div class="featured">
		<h3><%= link_to "Weekly Radio Addresses", "/weekly-radio-addresses", { :title => "Show All Weekly Radio Addresses"} %></h3>
			<div id="star-ratings-block-<%= Aggregate.class_name %>-<%= WeeklyRadioAddress.class_name %>" class="star-ratings-block">
				<%= render :partial => 'ratings/rate', :locals => {:asset => Aggregate.find(:first, :conditions => ['rateable_type = ?', WeeklyRadioAddress.class_name])} %>
			</div>
 				
 			<br class="clear" />
 		</div>
 		
 		<div class="featured more">
 			<div class="meta">
	 			<h3>Featured Radio Address</h3>
	 			 	<% weekly_radio_address = WeeklyRadioAddress.featured %>
	 			 	<% if !weekly_radio_address.nil? %>
		 				<h4><%= link_to "#{weekly_radio_address.timestamp.strftime("%B %d %Y")} - #{weekly_radio_address.description}", "weekly-radio-addresses/#{weekly_radio_address.permalink}" %></h4>
		 				<div id="star-ratings-block-<%= weekly_radio_address.class.to_s %>-<%= weekly_radio_address.id %>" class="star-ratings-block">
							<%= render :partial => 'ratings/rate', :locals => {:asset => weekly_radio_address, :align => 'left'} %>
						</div>
					<% end %> 	
		
	 		</div>
	 		<div class="photo">
	 			<img src="/images/radio.jpg" />
	 		</div>

 			<br class="clear" />
 		</div>
 		<br class="clear" />
 	</div>
</div>