<div class="box">
<div class="boxcontent">
<table>
<tr>
	<td width = "420px" valign="top">
   <h3>What does it mean to be logged in anonymous?<br></h3> <br>If you have cookies enabled in your browser, you are allowed to be logged into <a href="http://tabsonrahm.org">TabsOnRahm.org</a> anonymously, which means this web site does <b>not</b> have any of your personal information. Even if you are anonymous, you can still rate items on our site. However, you will lose your ratings history (available under "My Ratings" above) if you switch browsers or clear your cookies. If you <%= link_to "Sign Up", "/signup" %> and <%= link_to "Login", login_url %>, you ratings history will be permanently available.   
  </td>
	</td>
	<td width = "60px">
	</td>
<td valign="top">
	<h3>It's simple to use.</h3><br>
	<%= render :partial => 'ratings/rate_guide', :locals => {:align => 'left'} %>	
	<br><br><br><br><br><br><br><br>           
  <% if false %>    
	<h3>Watch our 1 minute video.</h3><br>
	<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=6263733&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=6263733&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object>
  <% end %>
	
</td>
  </tr>
  </table>

<% if false %>    
		<br><br>
		<h3>The Story</h3><br>
                                                           
		The founders and former Obama campaign volunteers, Chirag Patel and Matt Danzico, took a snapshot of BarackObama.com in 2008 and posted each of Obama’s campaign promises on TabsOnObama.org.

		The project has two objectives: (1) to hold the Obama Administration accountable in terms of the many campaign promises it laid out before the election as well as (2) to provide the Obama Administration itself unfiltered and comprehensive feedback on what Americans are thinking.

		Patel says, “Basically it’s the presidential approval rating in 2.0. The site offers a greater degree of insight into issues compared to the simple approval rating percentage provided by traditional polls.”

		Independently run by its founders, the website remains unbiased by not accepting any corporate donations or generating any advertising revenue. The site was created with the help of a handful of concerned volunteers across the United States.

		“We hope to use interactive web to promote a transparent, instantaneous, and participatory government never previously thought possible. As Obama´s one-year anniversary in office approaches, this is the best time to make the Administration´s track record ratable and visible by all,” says Danzico.	
</table>
<hr>
<table>
<tr>
<td width="400px" valign="top">
	<br>
	<font size="4">"It can't happen without you, without a new spirit of service, a new spirit of sacrifice. So let us summon a new spirit of patriotism, of responsibility, where each of us resolves to pitch in and work harder and look after not only ourselves but each other."</font>
	<br><br><br>
	<h3>
	-Barack Obama<br></h3>
	<h4>
	Nov 4, 2008<br>
	Grant Park<br>
	Chicago, IL<br></h4>
	<br>
</td>
<td>
  <% end %>
	<table cellpadding="20">			
<% if false %> 
	<tr>Contact us at<br><font size="5"><a href="mailto:contact@tabsonobama.org">contact@tabsonrahm.org</a><br></font>
	<tr>
	<tr>
		<br><br>Follow us on<br> <%= link_to image_tag("twitter.png", :border=>0), "http://www.twitter.com/tabsonrahm" %>
	</tr> 
 
	<tr>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment or digg our<br> 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag("http://i.cdn.turner.com/ireport/static/themes/custom/resources/irb/banner.gif", :border=>0), "http://www.ireport.com/docs/DOC-380893" %>
	</tr>     
<% end %>	
	</table>
</div>
</div>