<script type="text/javascript" src="/javascripts/thickbox.js"></script>
<%= stylesheet_link_tag "rating" %>
<%= stylesheet_link_tag "thickbox" %>

<!-- featured issue group -->
<%= render :partial=>"shared/cabinet_members" %>

<!-- featured weekly radio address -->				
<%= render :partial=>"shared/weekly_radio_addresses" %>

<!-- campaign promises -->
<%= render :partial=>"shared/promises" %>

<!-- history and quotes box -->
<div class="box">
	<div class="boxcontent">
		<div id="history">
			<h3>TabsonObama.com Rate History</h3>
			<!-- history graph -->
			<img src="../images/graph.gif" alt="TabsonObama.com rate History"/>
		</div>
		<div id="quotes">
			<h3>What People are saying</h3>
			<blockquote>
				<p>
					<span>
						Barack Obama has stuck to his word in the way of education reform, and I'm happy to call him my President.
						<em class="meta">
							Jim, 22, Seattle
						</em>
						<br class="clear" />
					</span>
				</p>
			</blockquote>
			<blockquote>
				<p>
					<span>
						Barack Obama has stuck to his word in the way of education reform, and I'm happy to call him my President.
						<em class="meta">
							Jim, 22, Seattle
						</em>
						<br class="clear" />
					</span>
				</p>
			</blockquote>
		</div>
		<br class="clear" />
	</div>
</div>