<div class="box">
  <div class="boxcontent">
    <h2>Barack Obama's Weekly Radio Addresses</h2>
  </div>
</div>
<div id="boxcontent">
	<% @addresses.each do |address| %>
        <div class="box">
                <div class="boxcontent">
                <h1><%= link_to "#{address.timestamp.strftime("%B %d %Y")}", 
                                "/weekly-radio-addresses/#{address.permalink}" %></h1>
                <br/>
                        <div class="phototitlerate">
                                <div class="photo">
                                        <object height="295" width="480">
                                        <param value="<%= "#{address.youtube_link}" %>" name="movie"/>
                                        <param value="true" name="allowFullScreen"/>
                                        <param value="always" name="allowscriptaccess"/>
                                        <embed height="295" width="480" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="<%= "#{address.youtube_link}" %>"/>
                                        </object>
                                </div>
                                <div class="titlerate">
                                    <h3><%= "#{address.description}" %></h3>
                                    <br>
                                    <div id="star-ratings-block-<%= address.class.to_s %>-<%= address.id %>" class="star-ratings-block">
						 				<%= render :partial => 'ratings/rate', :locals => {:asset => address, :align => 'left'} %>
						 			</div>
                                </div>
                        </div>
                <% promote_div_id = "promote-#{address.class}-#{address.id}" %>
                <div id="<%= promote_div_id %>">
                  <%= render :partial => "/promotions/promote", :locals => {:item => address, :update_div => promote_div_id} %>
                </div>
                <br class="clear" />
                <br class="clear"/>
                </div>
        </div>
	<% end %>
</div>