<div id="boxcontent">
        <div class="box">
                <div class="boxcontent">
                <h2>Barack Obama's Weekly Radio Address</h2>
                <h1><%= "#{@address.timestamp.strftime("%B %d %Y")}" %></h1>
                <br/>
                        <div class="phototitlerate">
                                <div class="photo">
                                        <object height="295" width="480">
                                        <param value="<%= "#{@address.youtube_link}" %>" name="movie"/>
                                        <param value="true" name="allowFullScreen"/>
                                        <param value="always" name="allowscriptaccess"/>
                                        <embed height="295" width="480" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="<%= "#{@address.youtube_link}" %>"/>
                                        </object>
                                </div>
                                <div class="titlerate">
                                        <h3><%= "#{@address.description}" %></h3>
                                        <br>
                                                <div id="star-ratings-block-<%=@address.class.to_s%>-<%= @address.id %>" class="star-ratings-block">
                                      		 				<%= render :partial => 'ratings/rate', :locals => {:asset => @address, :align => "left"} %>
                                      		 			</div>
                                </div>
                        </div>
                <br class="clear" />
                <br class="clear"/>
                
             		<%= render :partial => "intense_debate/comments", :locals => {:model => @address} %>
                </div>
        </div>
</div>