<% if !@logged_in %>
  <script language="javascript">
    tb_show('Dialog', '#TB_inline?height=325&width=400&inlineId=userLogin&modal=true', null);
  </script>
<% end %>

<div class="box">
  <div class="boxcontent">
    <h2>Rated Cabinet Members</h2>
    
    <% if !@logged_in %>
    	You must login to see your ratings or signup to start your ratings
    <% else %>
	    <% unless @members.empty? %>
	      <% @members.uniq.each do |member| %>
	      <div class="featured more">
	        <div class="meta">
	          <h3><%= member.nominee %></h3>
	          <%= render :partial => 'ratings/user_rate', :locals => {:asset => member, :rater => current_user} %>
	        </div>
	        <div class="photo">
	          <img alt="<%= member.nominee %>" src="<%= member.image_link %>" />
	        </div>
	        <br class="clear" />
	      </div>
	      <% end %>
	    
	    <% else %>
	      You have not rated any Cabinet Members
	    <% end %>
    <% end %>
    <br class="clear" />
  </div>
</div>


<div class="box">
  <div class="boxcontent">
    <h2>Rated Weekly Radio Addresses</h2>

    <% if !@logged_in %>
    	You must login to see your ratings or signup to start your ratings
    <% else %>    
	    <% unless @addresses.empty? %>
	      <% @addresses.uniq.each do |address| %>
	      <div class="featured more">
	        <div class="meta">
	          <h3><%= address.name %></h3>
	          <%= render :partial => 'ratings/user_rate', :locals => {:asset => address, :rater => current_user} %>
	        </div>
	        <br class="clear" />
	      </div>
	      <% end %>
	    
	    <% else %>
	      You have not rated any Weekly Radio Addresses
	    <% end %>
     <% end %>
    <br class="clear" />
  </div>
</div>


<div class="box">
  <div class="boxcontent">
    <h2>Rated Campaign Promises</h2>

    <% if !@logged_in %>
    	You must login to see your ratings or signup to start your ratings
    <% else %>       
	    <% unless @groups.empty? %>
	      <% @groups.uniq.each do |group| %>
	      <div class="featured more">
	        <div class="meta">
	          <h3><%= group.name %></h3>
	          <%= render :partial => 'ratings/user_rate', :locals => {:asset => group, :rater => current_user} %>
	        </div>
	        <br class="clear" />
	      </div>
	      <% end %>
	    
	    <% else %>
	      You have not rated any campaign promises
	    <% end %>
    <% end %>    
    <br class="clear" />
  </div>
</div>

