<% @convert = %w[one two three four five] %>

<% align ||= "right" %>

  <div align="<%= align %>">
    <ul class='star-rating'>
        <li class='current-rating' style='width:<%= (asset.rating_average * 23).to_i -%>px;'>
        </li>
        <% 1.upto(5) do |x| -%>
        <li style="text-align: center">
        	<% # Following line was <%= link_to_remote( "#{x}", but #{x} caused
        	   # the number in the link to be visible in IE7 (even though it's
        	   # hidden with CSS). Is the number in the link needed since the        	   
        	   # the rating is passed into the ajax call?
        	%>
            <%= link_to_remote( "", 
                        { :url => { :controller => "ratings", :action => "rate", 
                            :id => asset.id, :rating => x, :rated_type => asset.class.to_s, :align => align } },
                        { :class => "#{@convert[x-1]}-stars", :name => "#{pluralize(x,'star')} out of 5",
                            :title => "Rate this a #{x} out of 5" } ) %>
        </li>
        <% end -%>
    </ul>
  </div>
  <div align="<%= align %>" style="color: gray;">
  	Average <%= number_with_precision(asset.rating_average, :precision => 1) %> (<%= asset.rated_count %> votes)
  </div>
  <% if (asset.class.name == "WeeklyRadioAddress" || asset.class.name == "CabinetMember" || asset.class.name == "IssueBullet") %>
  <div align="<%= align %>" class="comments"><%= link_to "Comments", "#{asset.class.name.pluralize.underscore.dasherize}/#{asset.permalink}" %></div>
  <% end %>
