<%= stylesheet_link_tag "groups", :cache => true %>
<%= stylesheet_link_tag "myratings", :cache => true %>

<% if !@logged_in %>
  <script language="javascript">
    tb_show('Dialog', '#TB_inline?height=325&width=400&inlineId=userLogin&modal=true', null);
  </script>
<% end %>

<div class="box">
  <div class="boxcontent">
    <h2>Your Cabinet Member Ratings</h2><br>
    <% if !@logged_in %>
    	You must login to see your ratings or signup to start your ratings
    <% else %>
	    <% unless @members.empty? %>
	      <% @members.uniq.each do |member| %>
	      <div class="featured more">
	        <div class="meta">
	          <h3><%= link_to member.nominee, "cabinet-members/#{member.permalink}" %></h3>
	          <div class="star-ratings-block">
				<%= render :partial => 'ratings/user_rate', :locals => {:asset => member, :rater => current_user, :align => "left"} %>
		 	  </div>
	        </div>
	        <div class="photo">
	          <img alt="<%= member.nominee %>" src="<%= member.image_link %>" />
	        </div>
	        <!--br class="clear" /-->
	      </div>
	      <% end %>
	    
	    <% else %>
	      	<div class="not-rated">
	      	<br>
	    	You have not rated any Cabinet Members
	    	<br>
	    	</div>
	    <% end %>
    <% end %>
    <br class="clear" />
  </div>
</div>


<div class="box">
  <div class="boxcontent">
    <h2>Your Weekly Radio Addresses Ratings</h2><br>
    <% if !@logged_in %>
    	You must login to see your ratings or signup to start your ratings
    <% else %>    
	    <% unless @addresses.empty? %>
	      <% @addresses.uniq.each do |address| %>
	      <div class="featured more">
	        <div class="meta">	        	
	          <h3><%= link_to "#{address.timestamp.strftime("%B %d, %Y")}", "weekly-radio-addresses/#{address.permalink}" %></h3>
	          <h4><%= link_to "#{address.description}", "weekly-radio-addresses/#{address.permalink}" %></h4>
	          <div class="star-ratings-block">
	          <%= render :partial => 'ratings/user_rate', :locals => {:asset => address, :rater => current_user, :align => "left"} %>
	          </div>
	        </div>
	        <br class="clear" />
	      </div>
	      <% end %>
	    
	    <% else %>
		 <div class="not-rated">
		  <br>
	      You have not rated any Weekly Radio Addresses
		  <br>
	     </div>
	    <% end %>
     <% end %>
    <br class="clear" />
    </div>
</div>


<div class="box">
  <div class="boxcontent">
    <h2>Your Campaign Promises Ratings</h2><br>
	<div class="not-rated">
    <% if !@logged_in %>
    	You must login to see your ratings or signup to start your ratings
    <% else %>       
	    <% if @group_hash.empty? %>
	      <br>
	      You have not rated any campaign promises
	      <br>
	    <% end %>
    <% end %>    
    </div>
    <br class="clear" />

  
  <div class="plans">	
    	<ul>
    	  <% i=0 %>	
    	  <% @group_hash.each_value do |group| %>
    	  <% i = i + 1 %>
    	  <li> 
    	  <div class="text">	
    	  <h1><%= link_to group.name, "/campaign-promises/#{group.permalink}" %></h1>
    	  </div>
    	 <div id="star-ratings-block-<%= group.class.to_s %>-<%= group.id %>" class="star-ratings-block">
		 <%= render :partial => 'ratings/user_rate', :locals => {:asset => group, :rater => current_user} %>		
		 </div>
	 <br class="clear" />
    	  <% @section_hash.each_value do |section| %>
    	  
    	    
    	  	<% if section.issue_group_id == group.id %>
			<% if section.name != ""%>
    	  	<div class="text">						
      		  <h3><%= link_to section.name, "/campaign-promises/#{group.permalink}" %></h3>
      		</div>
      		<div id="star-ratings-block-<%= section.class.to_s %>-<%= section.id %>" class="star-ratings-block">
		 	<%= render :partial => 'ratings/user_rate', :locals => {:asset => section, :rater => current_user} %>
			</div>
      		<br class="clear" />
      		<% end %>
      		<ul class="bullets-list">
      		  <% @bullet_hash.each_value do |bullet| %>
      			<% if bullet.issue_group_id == group.id and bullet.issue_section_id == section.id %>
      		  	<li>
      				<div class="text">
      					<%= link_to bullet.name, "#{bullet.issue_section.issue_group.permalink}/#{bullet.permalink}" %>
      				</div>
      				<div id="star-ratings-block-<%= bullet.class.to_s %>-<%= bullet.id %>" class="star-ratings-block">
		 			<%= render :partial => 'ratings/user_rate', :locals => {:asset => bullet, :rater => current_user} %>
		 			</div>
      				<br class="clear" />
      			</li>
      			<% end %>
              <% end %>
      		</ul>
    		
    		<% end %>
          <% end %>
          </li>
          <% if i != @group_hash.length %>
          <hr>
          <% end %>
          <% end %>          
    	</ul>
    	<br class="clear"/>
 </div>
   </div>
</div>

