<%= stylesheet_link_tag "signup" %>
<div class="box">
<div class="boxcontent">
<%= title "Forgot Your Password?", :h1 %>
<% form_for @password do |f| %>
  <%= f.error_messages %>
	<fieldset>
		Enter Your Email Address			
		    <%= f.label :email %>
		    <%= f.text_field :email %>
	</fieldset>
	<div class="buttons">
  	<%= f.submit "Submit", :class => 'button' %>
	</div>
<% end %>
	<br>
	<br>
	<br>
	<br>
</div>
</div>
