<%= stylesheet_link_tag "bullet" %>

<!-- bullets -->
<div class="box">
	<div class="boxcontent">
		<% @issue_bullet = IssueBullet.find(params[:id]) %>
		<h1><%= "#{@issue_bullet.issue_section.issue_group.name}" %></h1>
		<hr />
		
		<div class="plans">	
		
			<h3><%= "#{@issue_bullet.issue_section.name}" %></h3>
			<p>
				<br class="clear" />
				<strong>
				<%= "#{@issue_bullet.issue_section.description}" %>
				</strong> 
				</br>
			</p>
			
			<p>
			</p>
		
			<p>
			</p>
		
			<p>
			</p>
	
			<br class="clear" />
			<br class="clear" />	
							
			<ul>
			</ul>
			<h4><%= "#{@issue_bullet.name}" %></h4>
			<div class="rating">
				<ul>
					<li><a href="#" title="1 out of 5" class="one-star">1</a></li>
					<li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
					<li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
					<li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
					<li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
				</ul> 
				<span class="votes">18,294 votes</span>
			</div>

			<p>
			</p>

			<br class="clear" />
			<br class="clear" />
								
			<ul>
				<li>
				<%= "#{@issue_bullet.description}" %>
					<p>
					</p>
	
	 				<br class="clear" />
				</li>
				<li>
									
					<br class="clear" />
				</li>
			</ul>
			
			<ul>
				<li>
					<br class="clear" />
				</li>
				
				<li>
					<br class="clear" />
				</li>
			</ul>
			
			<br class="clear"/>
		</div>
	</div>
</div>