<%= stylesheet_link_tag "bullet" %>

<!-- bullets -->
<div class="box">
	<div class="boxcontent">
		<% @issue_bullet = @current_object %>
		<h2>Rahm Emanuel's Campaign Promise </h2>
		<h1><%= link_to @issue_bullet.issue_section.issue_group.name, "/campaign-promises/#{@issue_bullet.issue_section.issue_group.permalink}" %></h1>
		<div class="plans">	
			<h3>
				<%= "#{@issue_bullet.issue_section.name}" %>
				<br class="clear" />
			</h3>
			<h4>
			<%= "#{@issue_bullet.issue_section.description}" %>
			</h4> 
			<hr>			
			<p></p>
			<br class="clear" />	

			<div class="titlerate">
            <h3><%= "#{@issue_bullet.name}" %></h3>
            </div>
			<div id="star-ratings-block-<%=@issue_bullet.class.to_s%>-<%= @issue_bullet.id %>" class="star-ratings-block">
             	<%= render :partial => 'ratings/rate', :locals => {:asset => @issue_bullet} %>
            </div>

			<p></p><br class="clear" /><br class="clear" />	
			<ul>
				<h4>
				<%= "#{@issue_bullet.description}" %>
	 				<br class="clear" />
				</h4>					
				<br class="clear" />
			</ul>
			<ul>
				<br class="clear" />
				<br class="clear" />
			</ul>
			<p></p>
			<br class="clear"/>

			<%= render :partial => "intense_debate/comments", :locals => {:model => @issue_bullet} %>
		</div>
	</div>
</div>
